/* CSS RESET: */
*
{
  margin: 0;
  padding: 0;
}

/******************************************************************************/

/* CSS */

body
{
  font-family: "Segoe UI", "Microsoft Sans Serif", Arial, Geneva, Sans-Serif;
  font-size: 0.8em;
  background-color: #eee;
}

h1, h2, h3, h4
{
  padding-top: 0.5em;
  clear: both;
}

.even
{
  background-color: #efe;
}

.odd
{
  background-color: #ffe;
}

.form-dd-submit
{
  padding-top: 1em;
}

/******************************************************************************/

/* Header */

#header
{
  display: block;
  clear: both;
  background-color: #ddf;
}

#header h1
{
  padding-left: 1em;
}

#header #menu
{
  padding-left: 1em;
}

#header #menu ul
{
	clear: both;
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	white-space: nowrap;
}

#header #menu ul li:hover
{
  background-color: #fff;
}

#header #menu ul li
{
	position: relative;
	white-space: nowrap;
	border: none;
	padding: 0;
	background-repeat: no-repeat;
	height: 100%;
	display: inline;
	padding-right: 1em;
}

#header #menu ul li a
{
  text-decoration: none;
  font-weight: bolder;
}


/* Admin menu */
#header #admin-menu
{
  padding-left: 1em;
  background-color: #feaea;
}

#header #admin-menu ul
{
	clear: both;
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	white-space: nowrap;
}

#header #admin-menu ul li
{
	position: relative;
	white-space: nowrap;
	border: none;
	padding: 0;
	background-repeat: no-repeat;
	height: 100%;
	display: inline;
	padding-right: 1em;
}

/******************************************************************************/

/* Footer */

#footer
{
  text-align: right;
}

/* Forms */
fieldset
{
  border: 0px solid #fff;
}

input, textarea
{
  border: 1px solid #000;
}

/******************************************************************************/

/* Posts */

#posts .entry
{
  margin-top: 2em;
  display: block;
  border: 1px solid #000;
}

#posts .entry-subject
{
  display: block;
  border-bottom: 1px solid #000;
  background-color: #ddd;
}

#posts .entry-author
{
  display: block;
  border-top: 1px solid #000;
  background-color: #ddd;
}

/******************************************************************************/

/* Content */
#content
{
  margin: auto auto;
  width: 60em;
  padding-bottom: 1em;
}

/* Menu */
#menu
{
  background-color: #fed;
}

/******************************************************************************/

/* Comic */

.comic-navigation
{
  display: block;
  clear: both;
}

.comic-navigation ul
{
	clear: both;
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	white-space: nowrap;
}

.comic-navigation ul li
{
	position: relative;
	white-space: nowrap;
	border: none;
	padding: 0;
	background-repeat: no-repeat;
	display: inline;
	padding-right: 1em;
}

.comment-added
{
  padding-right:1em;
}

#comic-navigation-bottom
{
  margin-bottom: 0.5em;
}

/* Logout link */
#logout a
{
  color: #f11;
}

/* Bookmarks */
#bookmark-list
{
  background-color: #fff;
  border: 1px solid #000;
  width: 35em;
}

#bookmark-list ul
{
  margin: auto auto;
  text-align: center;
}

#bookmarks
{
  clear: both;
	margin: 0;
	padding: 5px 0 0 0;
	list-style: none;
}

#bookmarks li
{
	background-repeat: no-repeat;
	position: relative;
	white-space: nowrap;
	display: inline;
}

#bookmarks li a
{
	background-repeat: no-repeat;
	padding-left: 18px;
	padding-right: 7px;
	text-decoration: none;
}

#bookmarks li a:hover
{
  text-decoration: underline;
}

#bookmarks li a#delicious
{
	background-image: url('/images/delicious.gif');
}

#bookmarks li a#digg
{
	background-image: url('/images/digg.gif');
}

#bookmarks li a#facebook
{
	background-image: url('/images/facebook.gif');
}

#bookmarks li a#reddit
{
	background-image: url('/images/reddit.gif');
}

#bookmarks li a#stumbleupon
{
	background-image: url('/images/stumbleupon.gif');
}

/* Debug */
#sql-query-list
{
  text-align: left;
}